@media all and (min-width: 900px) {
    aside {
        flex: 2 0;
    }
}

header {
    text-align: center;
    border-bottom: 5px solid green;
    width: 600px;
    margin: 1% 15% 1% 15%;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.icecream {
    text-align: center;
    margin-bottom: 2%;
}

.AboutMe {
    border: 5px solid rgb(187, 0, 0);
    padding: 10px;
    width: 50%;
}

.ContactMe {
    border: 5px solid rgb(187, 0, 0);
    padding: 10px;
    width: 50%;
}

h3 {
    font-size: 15px;
    font-style: italic; 
    text-decoration: underline;
    text-underline-position: below; 
    text-align: left;
    height: 0;
}

article {
    text-align: left;
}

h4 {
    font-size: 15px;
    font-style: italic; 
    text-decoration: underline;
    text-underline-position: below; 
    text-align: left;
    height: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container > * {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    aside {
        flex: 2 0;
    }
}

form {
    margin-top: 4%;
    padding: 10px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 15px; 
    text-align: left;
    font-size: 13px;
}

input[type=text] {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 5%;
    border: 1px solid rgb(187, 187, 187);
}

input[type=email] {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 5%;
    border: 1px solid rgb(187, 187, 187);
}

textarea[id=msg] {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 10%;
    border: 1px solid rgb(187, 187, 187);
    vertical-align: top;
    height: 5em;
}

input[type=submit]{
    margin-bottom: 5%;
    margin-left: 20%;
}

label {
    margin-left: 13%;
}


