html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media all and (min-width: 900px) {
    .AboutMe {
        order: 1;
    }
    .ContactMe {
        order: 2;
    }
}

header {
    text-align: center;
    border-bottom: 2.5px solid rgb(0, 184, 0);
    margin: 1% 15% 0% 15%;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
}

.icecream {
    text-align: center;
    margin-bottom: 2%;
}

.AboutMe {
    border: 3.5px solid rgb(187, 0, 0);
    width: 50%;
}

.ContactMe {
    border: 3.5px solid rgb(187, 0, 0);
    width: 50%;
}

h3 {
    font-size: 16px;
    font-style: italic; 
    text-decoration: underline;
    text-underline-position: below; 
    text-align: left;
    height: 1%;
}

article {
    text-align: left;
}

h4 {
    font-size: 16px;
    font-style: italic; 
    text-decoration: underline;
    text-underline-position: below; 
    text-align: left;
    height: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container > * {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .AboutMe {
        flex: 1 0;
    }
}

@media all and (min-width: 600px) {
    .ContactMe {
        flex: 1 0;
    }
}

form {
    margin-top: 4%;
    padding: 10px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 15px; 
    text-align: left;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}

input[type=text] {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 5%;
    border: 1px solid rgb(187, 187, 187);
}

input[type=email] {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 5%;
    border: 1px solid rgb(187, 187, 187);
}

textarea[id=msg] {
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 10%;
    border: 1px solid rgb(187, 187, 187);
    vertical-align: top;
    height: 5em;
}

input[type=submit]{
    margin-bottom: 5%;
    margin-left: 20%;
}

label {
    margin-left: 13%;
}
